
.navbar {
  display: flex;
  overflow: hidden;
  background: #6C63FF;
  width: 100%;
  justify-content: space-evenly;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 15;
}
* {
  margin: 0;
  padding: 0;
}

.home {
  margin-top: 60px;
}

.logo {
  flex: 2;
}

.nav-links {
  flex: 3;
}

.navbar a {
  /* float: right; */
  font-size: 24px;
  color: white;
  /* text-align: center; */
  padding: 14px 16px 15px 14px;
  text-decoration: none;
}
.navbar a {
  /* float: right; */
  font-size: 24px;
  color: white;
  /* text-align: center; */
  padding: 14px 16px 15px 14px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: cyan;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background: #534AE8;
  transition: all 0.25s ease-in ;
}

.dropdown-content-for-values {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-for-values a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

body {
  background-size: cover;
    width: 100vw;
    height: 100vh;
    /*display: grid;
    align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family: "Spartan";
  color: #2A293E;*/
    background: url("undraw_web_shopping_dd4l.svg") no-repeat center center fixed;

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-us
width: 100vw;
height: 100vh;
  background:  #ffe6ee;
  padding: 50px 100px;
  border-top: 10px solid #ff0055;
  border-bottom: 10px solid #ff0055;
}

label, input, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

input {
  margin-bottom: 24pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}

span {
  font-size: 8pt;
}

em {
  color: #f45702;
  font-weight: bold;
}

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: right;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}

::selection {
  background: #ffc7b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
